.gold{
    color: #d1ac60 !important;
}

.white{
    color: #fff;
}

.color-custom-dark-green{
    color: #489e5f;
}

.bg-custom-dark{
    background-color: #666666;
}

.bg-custom-darker{
    background-color: #292929;
}

.bg-custom-brown{
    background-color: #654234;
}

.bg-custom-light-brown{
    background-color: #c38b63;
}

.bg-custom-dark-blue{
    background-color: #1c242e;
}

.text-custom-brown{
    color: #664234;
}

.text-custom-light-brown{
    color: #c38b63;
}

.wrap-header-mobile{
    background-color: #fff !important;
}

.bottom-line-white{
    border-bottom: 1px solid #ffffff;
}

.menu-font-style{
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
}

.menu-font-style2{
    font-size: 12px !important;
    font-weight: bold;
    color: #ffffff !important;
}


/* HEADER OVERRIDE */
.wrap-menu-desktop{
    top: 0 !important;
    position: relative;
}

.container-header-desktop{
    height: 100px;
}

.fix-menu-desktop{
    height: 100px;
}

.main-menu .sub-menu .disabled-link{
    color: #726866 !important;
}

.menu-desktop .main-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.menu-desktop .main-menu .sub-menu li a {
    color: #fff;
}

.menu-desktop .main-menu > li:hover > a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop .sub-menu li:hover {
    background-color: #000;
}

.hamburger-inner:before, .hamburger-inner, .hamburger-inner:after{
    background-color: #c38b63 !important;
}

#back-navigation{
    width: 175px;
}

.back-font{
    font-size: 10px;
}

@media (max-width: 576px) {
    /* Footer */
    .mobile-center{
        text-align: center !important;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    /* Footer */
    .mobile-center{
        text-align: center !important;;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 1024px) {
    #back-navigation{
        width: 350px;
    }
}

@media (min-width: 1200px) {
}

.font-custom-avenir-medium{
    font-family: 'AvenirMedium', sans-serif !important;
}

.font-custom-tiempos-light{
    font-family: 'TiemposHeadlineLight', sans-serif !important;
}

.font-custom-tiempos-medium{
    font-family: 'TiemposHeadlineMedium', sans-serif !important;
}

.font-custom-tiempos-medium-italic{
    font-family: 'TiemposHeadlineMediumItalic', sans-serif !important;
}

.font-custom-tiempos-bold{
    font-family: 'TiemposHeadlineBold', sans-serif !important;
}

.font-custom-tiempos-bold-italic{
    font-family: 'TiemposHeadlineBoldItalic', sans-serif !important;
}


@font-face {
    font-family: 'AvenirMedium';
    src: local('Avenir Medium'), local('Avenir-Medium'),
    url('../../fonts/Avenir-Medium.woff2') format('woff2'),
    url('../../fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineLight';
    src: local('Tiempos Headline Light'), local('TiemposHeadline-Light'),
    url('../../fonts/TiemposHeadline-Light.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineMedium';
    src: local('Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
    url('../../fonts/TiemposHeadline-Medium.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineMediumItalic';
    src: local('Tiempos Headline Medium Italic'), local('TiemposHeadline-MediumItalic'),
    url('../../fonts/TiemposHeadline-MediumItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TiemposHeadlineBold';
    src: local('Tiempos Headline Bold'), local('TiemposHeadline-Bold'),
    url('../../fonts/TiemposHeadline-Bold.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineBoldItalic';
    src: local('Tiempos Headline Bold Italic'), local('TiemposHeadline-BoldItalic'),
    url('../../fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

.pbox {
    height: 150px;
}

.pbox2 {
    height: 60px;
    width: auto;
}